.trivia-question {
    font-size: 1rem;
    font-weight: 700;
}

.answers {
    margin: 1em 0;
    display: flex;
    flex-wrap: wrap;
}

.trivia-answers {
    font-family: 'Inter', 'sans-serif';
    font-size: 0.8rem;
    border: 1px solid #4D5B9E;
    width: fit-content;
    padding: .5em 1em;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: .5em;
    margin-right: .8em;
}